.fixed {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
}

html {
  background: url(../images/3.jpg) no-repeat center left fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

h1 { color : white; }
h2 { color : white; }
h3 { color : white; }
h4 { color : white; }

a { color : #4CAF50 !important; }
a:hover { color : #1B5E20 !important; }



.page {
    top:0;
    bottom:0;
    position:fixed;
    width:100%;
}
@keyframes fadeIn {
  from    { opacity:0; }
  to    { opacity:1; }
}

@keyframes fadeOut {
  from    { opacity:1; }
  to    { opacity:0; }
}

.ng-enter { animation: fadeIn 1s both linear; z-index: 8888; }
.ng-leave { animation: fadeOut 1s both linear; z-index: 9999; }


.carosel { color : white; }

.slick-arrow {
  width : 25px;
  height : 25px;
}
.slick-prev { left : 2px; top:5px;z-index:1000; }
.slick-prev:before { font-size: 25px; }
.slick-next { right : 2px; top:5px;z-index:1000; }
.slick-next:before { font-size: 25px; }
.slick-dots li {
  width:25px;
  height:25px;
}
.slick-dots li button:before {
  font-size : 25px;
  color : white;
}

.slick-dots { margin-left:0px; }
.slick-dots li.slick-active button:before { color: white; }
.slick-slide { outline: none !important; }


#chartjs-tooltip {
    opacity: 1;
    z-index:10000;
    position: absolute;
    background: rgba(0, 0, 0, .7);
    color: white;
    padding: 3px;
    border-radius: 3px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.chartjs-tooltip-key{
  display:inline-block;
  width:10px;
  height:10px;
}
#chartjs-tooltip.below {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
#chartjs-tooltip.below:before {
    border: solid;
    border-color: #111 transparent;
    border-color: rgba(0, 0, 0, .8) transparent;
    border-width: 0 8px 8px 8px;
    bottom: 1em;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    z-index: 99;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
}
#chartjs-tooltip.above {
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
}
#chartjs-tooltip.above:before {
    border: solid;
    border-color: #111 transparent;
    border-color: rgba(0, 0, 0, .8) transparent;
    border-width: 8px 8px 0 8px;
    bottom: 1em;
    content: "";
    display: block;
    left: 50%;
    top: 100%;
    position: absolute;
    z-index: 99;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}