.small-12.small-centered.columns.text-center
  br
  br
  br
  h1(style='color:white') Brett Kerrigan, P.Eng., M.A.Sc.
  br
  h3(style='color:white') Energy efficiency engineer with 8+ years experience in energy data analytics, utility program design, building simulation, and power flow modelling
  br
  a.i.fa.fa-5x.fa-play-circle-o(href='/main' style='color:#4CAF50;')
