.row
  div#chartjs-tooltip(style='opacity:0')
  br
  .small-12.columns.append(style='margin:0;padding:0')
  br
  br
  .small-12.columns.carosel(style='padding:0')
    div.text-left(style='margin:5px')
      h2 Who am I?
      hr(style='border: 1px solid white;')
      h3 Firm believer that sustainable energy systems can help preserve the environment, reduce poverty and inequality, make communities more resilient, and avoid conflict around the world
      br
      h3 Committed to helping energy efficiency and renewables compete directly with traditional energy sources in a market where economic and environmental costs/benefits are appropropriately valued
      br
      h3 Energy efficiency engineer with 8+ years of relevant simulation and analytics experience in the public, private, and research sectors
      
    div.text-left(style='margin:5px')
      h2 How did I get so smart?
      hr(style='border: 1px solid white;')
      div
      h4 Energy IQ over time (mouse over for details)
        canvas#chart1(style='min-height:300px !important')
    div.text-left(style='margin:5px')
      h2 What skills can I bring to WattTime?
      hr(style='border: 1px solid white;')
      div
        canvas#chart2(style='min-height:300px !important')
    div.text-left(style='margin:5px')
      h2 How do I spend my spare time?
      hr(style='border: 1px solid white;')
      div
        canvas#chart3(style='min-height:300px !important')

    div.text-left(style='margin:5px')
      h2 Why am I a good fit?
      hr(style='border: 1px solid white;')
      h3 I am looking to be part of a team of experts who have a shared interest in changing the energy landscape in North America and around the world
      br
      h3 I have experience in data analytics, utility demand side management (DSM) programs, building energy simulation, and optimal power flow modelling
      br
      h3 I am a licenced Professional Engineer in Ontario, Canada
      br
      h3 I have experience working remotely for a small startup company 
      br
      h3 I am an all-around nice guy!
    div.text-left(style='margin:5px')
      h2 Final Thoughts...
      hr(style='border: 1px solid white;')
      h3 Thanks very much for taking the time to review my application!
      br
      h3 Please download my Cover Letter here
      br
      h3 Please download my detailed CV here
      br
      h3 If you have any questions or comments, please don't hesitate to contact me via:
      br
      h3 E-mail: brett.kerrigan@gmail.com
      br
      h3 Phone: 613-857-0150